#mobile-img {
    width: 100%;
    max-width: 100%;
    background: url(../assets/images/Ilustração.svg) top/cover; 
    margin-top: 2rem;
}

section {

}

@media (width >= 80rem) {
    #mobile-img {
        display: none;
}
}